<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
    <span>Cole's Political Spectrum Calculator</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card class="flex-card card" *ngIf="!results">
    <mat-card-title>Welcome to Cole's Political Spectrum Calculator</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="content">Answer the multiple choice questions to see where you fall.</mat-card-content>
  </mat-card>
  <form *ngIf="!results">
    <mat-card class="question-card card" *ngFor="let question of questions | async; let q = index">
      <mat-card-title class="question-title">{{question.question}}</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content class="left content">
        <mat-radio-group class="radio-group" [(ngModel)]="answers[q]" [ngModelOptions]="{standalone: true}">
          <mat-radio-button class="radio-button" *ngFor="let choice of question.choices" [value]="choice">
            {{choice.name}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>
    <button mat-raised-button color="primary" (click)="submit()" class="card">Submit</button>
  </form>
  <mat-card class="flex-card card" *ngIf="results">
    <mat-card-title>Results</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="results-content content">
      You are a <b>{{party}}</b>! Your Score is <b>{{score}}</b>
      Your Code is <b>{{code.toString()}}</b>
    </mat-card-content>
  </mat-card>
</div>

